<style>

  footer {
    display: block;
    background-color: green;
  }
  a {
    background-color: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  img {
    border: 0;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
  }
  .w-list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  .w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
  }
  .w-container:before,
  .w-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
  }
  .w-container:after {
    clear: both;
  }
  @media screen and (max-width: 991px) {
    .w-container {
      max-width: 728px;
    }
  }
  @media screen and (max-width: 479px) {
    .w-container {
      max-width: none;
    }
  }
  .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  a {
    color: #049eff;
    text-decoration: none;
  }
  .content {
    max-width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-block {
    background-color: var(--dark-green);
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .grid-3 {
    grid-column-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 0.5fr;
  }
  .div-block {
    width: 100%;
    height: 1px;
    background-color: rgba(68, 79, 68, 0.5);
    margin-top: 15px;
  }
  .agreement {
    color: var(--honeydew);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
  }
  .footer-menu {
    color: #fff;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
  }
  .copy-text {
    color: var(--white);
    margin-top: 15px;
    font-size: 14px;
    line-height: 16px;
  }
  .list {
    margin-bottom: 20px;
  }
  .image-2 {
    background-color: transparent;
  }
  .brand-logo-2 {
    width: 120px;
    height: auto;
    margin-left: 0;
  }
  @media screen and (max-width: 991px) {
    .content {
      max-width: none;
    }
    .footer-block {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    .content {
      padding-left: 0;
      padding-right: 0;
    }
    .footer-block {
      margin-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .grid-3 {
      grid-template-rows: auto auto;
      grid-template-columns: 1.75fr;
    }
  }
  @media screen and (max-width: 479px) {
    .footer-block {
      margin-top: 0;
    }
    .brand-logo-2 {
      width: 120px;
    }
  }
  #w-node-_84566841-a5a6-62da-f05b-eeab5a7a4010-e307593c {
    align-self: center;
  }
</style>

<footer class="footer-block">
  <div class="content w-container">
    <div class="w-layout-grid grid-3">
      <div class="footer-text"><img
          src="https://about.bugmd.com/co/lp/f&t-A3-LD/images/6580f0d228714b089f623324_BugMD_Logo_White.png"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, 120px"
          height="28"
          alt=""
          srcset="https://about.bugmd.com/co/lp/f&t-A3-LD/images/6580f0d228714b089f623324_BugMD_Logo_White-p-500.png  500w,https://about.bugmd.com/co/lp/f&t-A3-LD/images/6580f0d228714b089f623324_BugMD_Logo_White-p-800.png  800w,https://about.bugmd.com/co/lp/f&t-A3-LD/images/6580f0d228714b089f623324_BugMD_Logo_White-p-1080.png  1080w,https://about.bugmd.com/co/lp/f&t-A3-LD/images/6580f0d228714b089f623324_BugMD_Logo_White.png  1200w"
          class="brand-logo-2">
        <div class="div-block"></div>
        <div class="agreement">THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION 
          UPDATE</div>
        <div class="agreement">MARKETING DISCLOSURE: This website is a market place. As such you should know that 
          the owner has a monetary connection to the product and services advertised on the site. The owner receives
          payment whenever a qualified lead is referred but that is the extent of it.<br>‍<br>ADVERTISING 
          DISCLOSURE: This website and the products &amp; services referred to on the site are advertising
          marketplaces. This website is an advertisement and not a news publication. Any photographs of persons used
          on this site are models. The owner of this site and of the products and services referred to on this site
          only provides a service where consumers can obtain and compare.</div>
        <a href="#replacelink" class="w-inline-block"><img
            src="https://about.bugmd.com/co/lp/f&t-A3-LD/images/d.png"
            loading="lazy"
            width="250"
            sizes="(max-width: 479px) 100vw, 250px"
            alt=""
            srcset="https://about.bugmd.com/co/lp/f&t-A3-LD/images/d-p-500.png  500w,https://about.bugmd.com/co/lp/f&t-A3-LD/images/d-p-800.png  800w,https://about.bugmd.com/co/lp/f&t-A3-LD/images/d.png  1041w"
            class="image-2"></a>
      </div>
      <div id="w-node-_84566841-a5a6-62da-f05b-eeab5a7a4010-e307593c">
        <ol role="list" class="list w-list-unstyled">
          <li>
            <a
              href="https://bugmd.com/policies/refund-policy"
              target="_blank"
              class="footer-menu">Returns &amp; 
              Refund Policy</a>
          </li>
          <li>
            <a
              href="https://bugmd.com/policies/terms-of-service"
              target="_blank"
              class="footer-menu">Terms &amp; 
              Conditions</a>
          </li>
          <li>
            <a
              href="https://bugmd.com/policies/privacy-policy"
              target="_blank"
              class="footer-menu">Privacy 
              Policy</a>
          </li>
          <li>
            <a
              href="https://bugmd.com/pages/ccpa-compliance"
              target="_blank"
              class="footer-menu">CCPA</a>
          </li>
        </ol>
        <div class="copy-text">© 2024 BugMD</div>
      </div>
    </div>
  </div>
</footer>


{% schema %}
  {
    "name": "Advetorial Footer",
    "blocks": [
      {
        "type": "link_list",
        "name": "t:sections.footer.blocks.link_list.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Quick links",
            "label": "t:sections.footer.blocks.link_list.settings.heading.label"
          }, {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "t:sections.footer.blocks.link_list.settings.menu.label",
            "info": "t:sections.footer.blocks.link_list.settings.menu.info"
          }
        ]
      }, {
        "type": "text",
        "name": "t:sections.footer.blocks.text.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "t:sections.footer.blocks.text.settings.heading.label"
          }, {
            "type": "richtext",
            "id": "subtext",
            "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
            "label": "t:sections.footer.blocks.text.settings.subtext.label"
          }
        ]
      }, {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "range",
            "id": "image_width",
            "min": 50,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Image width",
            "default": 100
          }, {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment on large screen",
            "options": [
              {
                "value": "",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "color",
        "id": "gradient1",
        "label": "Gradient 1",
        "default": "#5D3891"
      },
      {
        "type": "color",
        "id": "gradient2",
        "label": "Gradient 2",
        "default": "#66347F"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Disclaimer Text",
        "default": "<p>DISCLAIMER: These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease. The views and advice expressed by Cleanux are not intended for the purpose of providing medical advice. Always seek the advice of your doctor or another qualified healthcare provider with any questions you may have regarding a medical condition or treatment. Benefits may vary from one person to another.</p>"
      }, {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__1.content",
        "info": "t:sections.footer.settings.header__1.info"
      }, {
        "type": "checkbox",
        "id": "newsletter_enable",
        "default": true,
        "label": "t:sections.footer.settings.newsletter_enable.label"
      }, {
        "type": "text",
        "id": "newsletter_heading",
        "default": "Subscribe to our emails",
        "label": "t:sections.footer.settings.newsletter_heading.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__2.content",
        "info": "t:sections.footer.settings.header__2.info"
      }, {
        "type": "checkbox",
        "id": "show_social",
        "default": false,
        "label": "t:sections.footer.settings.show_social.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__3.content",
        "info": "t:sections.footer.settings.header__4.info"
      }, {
        "type": "checkbox",
        "id": "enable_country_selector",
        "default": true,
        "label": "t:sections.footer.settings.enable_country_selector.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__5.content",
        "info": "t:sections.footer.settings.header__6.info"
      }, {
        "type": "checkbox",
        "id": "enable_language_selector",
        "default": true,
        "label": "t:sections.footer.settings.enable_language_selector.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__7.content"
      }, {
        "type": "checkbox",
        "id": "payment_enable",
        "default": true,
        "label": "t:sections.footer.settings.payment_enable.label"
      }, {
        "type": "header",
        "content": "t:sections.all.spacing"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.footer.settings.margin_top.label",
        "default": 0
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "link_list"
        }, {
          "type": "text"
        }
      ]
    }
  }
{% endschema %}